* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #79a5c9;
}

h1 {
  text-align: center;
  padding-top: 1rem;
  font-size: 4rem;
}

.month-name {
  text-align: center;
  font-size: 3rem;
  padding: 1.5rem;
}

main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.month-container {
  width: 100%;
}

.month {
  width: 100%;
  padding-bottom: 4rem;
  height: 600px;
}

.cell {
  width: 6.5rem;
  height: 4.5rem;
  padding: 2rem 0;
  font-size: 2.5rem;
  text-align: center;
  border-radius: 5px;
  background: #79bfc9;
}

.day-names {
  background: rgba(155, 217, 226, 0.882);
  color: rgb(22, 39, 101);
  font-weight: lighter;
}

.date {
  color: whitesmoke;
  color: rgb(22, 39, 101);
}

.icons {
  font-size: 7rem;
  color: black;
  margin: 0 3rem;
  cursor: pointer;
}

.desc {
  width: 100%;
  height: 1500px;
  background-color: #798cc9;
}

@media screen and (min-width: 2000px) {

  .month {
    height: 700px;
  }

  .cell {
    font-size: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .icons {
    font-size: 4.5rem;
    margin: 0 1.5rem;
  }

  .month {
    height: 400px;
  }

  .cell {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .icons {
    font-size: 3rem;
    margin: 0 1.5rem;
  }

  .month {
    height: 300px;
  }

  .cell {
    font-size: 1.25rem;
    padding: 0;
  }
}
